@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
}

nav{
    font-weight: 500;
    height: 12vh;
    background-color:aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#types{
    list-style: none;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

#types a{
    text-decoration: none;
    color: black;
}

main{
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

span{
    color: aquamarine;
}

button{
    font-size: 1em;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}